.btn {
  width: 203px;
  height: 44px;
  background: transparent;
  border: 1.5px solid #000000;
  cursor: pointer;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.container {
  width: 1075px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 900px;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  display: block;
  background: #000;
  height: 100%;
  width: 460px;
  left: 0;
  top: 0;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  width: 340px;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #fff;
  text-transform: uppercase;
}

.header-lang {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.header-lang::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 40px;
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-top: #000;
  border-left: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.header-menu {
  position: absolute;
  height: 92px;
  width: 92px;
  right: 0;
  top: 0;
  background: #f2f2f2;
  cursor: pointer;
}

.header-menu::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 3.5px;
  left: 50%;
  top: 39.5px;
  margin-left: -17.5px;
  background: #000;
}

.header-menu::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 3.5px;
  left: 50%;
  bottom: 39px;
  margin-left: -17.5px;
  background: #000;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}

.header-text {
  width: 491px;
}

.header-text__title {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 82px;
  font-size: 80px;
  color: #000000;
}

.header-text__descr {
  padding-top: 22px;
  font-family: Montserrat;
  font-style: normal;
  line-height: 21px;
  font-size: 15px;
  color: #000000;
}

.header-text__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 36px;
  width: 88%;
}

.header-text__offer {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
  font-size: 13px;
  color: #000000;
}

.header-text__offer::after {
  position: absolute;
  content: url("../img/arrow.svg");
  left: 180px;
  bottom: -4px;
}

.header-social {
  padding-top: 85px;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 680px;
}

.header-social__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 135px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-social__links a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 41px;
  height: 41px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.header-social__mouse {
  width: 27px;
  height: 46px;
  border: 2px solid black;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 502px;
  position: relative;
}

.header-social__mouse::after {
  content: '';
  position: absolute;
  width: 2.5px;
  height: 8px;
  background: #000;
  left: 50%;
  margin-left: -1.25px;
  top: 10px;
}