.btn {
  width: 203px;
  height: 44px;
  background: transparent;
  border: 1.5px solid #000000;
  cursor: pointer;
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif; }

.container {
  width: 1075px;
  margin: 0 auto; }

header {
  width: 100%; }
  header::before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    height: 900px;
    width: 460px;
    left: 0;
    top: 0;
    z-index: -1; }

.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto; }
  .header__image {
    background: url(../img/main-img.jpg); }
  .header__left {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    width: 340px;
    height: 30px;
    align-items: center; }
  .header__logo {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #fff;
    text-transform: uppercase; }
  .header__lang {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff; }
    .header__lang::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 40px;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-top: #000;
      border-left: #000;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      cursor: pointer; }
  .header__menu {
    position: absolute;
    height: 92px;
    width: 92px;
    right: 0;
    top: 0;
    background: #f2f2f2;
    cursor: pointer; }
    .header__menu::before {
      content: '';
      position: absolute;
      width: 35px;
      height: 3.5px;
      left: 50%;
      top: 39.5px;
      margin-left: -17.5px;
      background: #000; }
    .header__menu::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 3.5px;
      left: 50%;
      bottom: 39px;
      margin-left: -17.5px;
      background: #000; }

.collection__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto; }

.collection__text {
  width: 491px; }
  .collection__text-title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 82px;
    font-size: 80px;
    color: #000000; }
  .collection__text-descr {
    padding-top: 22px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: 21px;
    font-size: 15px;
    color: #000000; }
  .collection__text-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    width: 88%; }
  .collection__text-offer {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    font-size: 13px;
    color: #000000; }
    .collection__text-offer::after {
      position: absolute;
      content: url("../img/arrow.svg");
      left: 180px;
      bottom: -4px; }

.collection__social {
  padding-top: 85px;
  margin-left: 2.5%;
  display: inline-flex;
  justify-content: space-between;
  width: 480px; }
  .collection__social-links {
    display: flex;
    width: 135px;
    justify-content: space-between; }
    .collection__social-links a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background: #fff; }

.collection__mouse {
  width: 27px;
  height: 46px;
  border: 2px solid black;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  left: 49%;
  position: absolute;
  transform: translateX(-49%);
  margin-top: 74px; }
  .collection__mouse::before {
    display: block;
    content: '';
    position: absolute;
    width: 2.5px;
    height: 8px;
    background: #000;
    left: 50%;
    margin-left: -1.25px;
    top: 10px; }

.bag {
  display: none; }
