.btn {
  width: 203px;
  height: 44px;
  background: transparent;
  border: 1.5px solid #000000;
  cursor: pointer;
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif; }

.container {
  width: 1075px;
  margin: 0 auto; }

header {
  width: 100%; }
  header::before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    height: 900px;
    width: 460px;
    left: 0;
    top: 0;
    z-index: -1; }

.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto; }
  .header__image {
    background: url(../img/main-img.jpg); }
  .header__left {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    width: 340px;
    height: 30px;
    align-items: center; }
  .header__logo {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #fff;
    text-transform: uppercase; }
  .header__lang {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff; }
    .header__lang::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 40px;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-top: #000;
      border-left: #000;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      cursor: pointer; }
  .header__menu {
    position: absolute;
    height: 92px;
    width: 92px;
    right: 0;
    top: 0;
    background: #f2f2f2;
    cursor: pointer; }
    .header__menu::before {
      content: '';
      position: absolute;
      width: 35px;
      height: 3.5px;
      left: 50%;
      top: 39.5px;
      margin-left: -17.5px;
      background: #000; }
    .header__menu::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 3.5px;
      left: 50%;
      bottom: 39px;
      margin-left: -17.5px;
      background: #000; }

.collection__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto; }

.collection__text {
  width: 491px; }
  .collection__text-title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 82px;
    font-size: 80px;
    color: #000000; }
  .collection__text-descr {
    padding-top: 22px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: 21px;
    font-size: 15px;
    color: #000000; }
  .collection__text-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    width: 88%; }
  .collection__text-offer {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
    font-size: 13px;
    color: #000000; }
    .collection__text-offer::after {
      position: absolute;
      content: url("../img/arrow.svg");
      left: 180px;
      bottom: -4px; }

.collection__social {
  padding-top: 85px;
  margin-left: 2.5%;
  display: inline-flex;
  justify-content: space-between;
  width: 480px; }
  .collection__social-links {
    display: flex;
    width: 135px;
    justify-content: space-between; }
    .collection__social-links a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background: #fff; }

.collection__mouse {
  width: 27px;
  height: 46px;
  border: 2px solid black;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  left: 49%;
  position: absolute;
  transform: translateX(-49%);
  margin-top: 74px; }
  .collection__mouse::before {
    display: block;
    content: '';
    position: absolute;
    width: 2.5px;
    height: 8px;
    background: #000;
    left: 50%;
    margin-left: -1.25px;
    top: 10px; }

.bag {
  font-family: Montserrat, sans-serif; }
  .bag__wrap {
    margin-top: 42px;
    background: #fae8e4; }
  .bag__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .bag__image {
    padding-top: 116px;
    width: 582px; }
  .bag__description {
    margin-top: 167px;
    position: relative;
    z-index: 3; }
    .bag__description::after {
      content: '';
      position: absolute;
      background: #d1c2bf;
      opacity: .8;
      height: 490px;
      width: 450px;
      top: 72px;
      left: 49px;
      z-index: -1;
      filter: blur(10px); }
  .bag__card {
    margin-bottom: 39px;
    padding: 40px 0 0 55px;
    width: 433px;
    height: 512px;
    background: #fff; }

.card {
  font-family: Montserrat, sans-serif;
  font-style: normal; }
  .card__title {
    margin: 0;
    padding-bottom: 17px;
    line-height: 41px;
    font-size: 40px;
    font-weight: bold;
    color: #000000; }
  .card__subtitle {
    padding-bottom: 64px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.07em;
    color: #000000;
    opacity: 0.5; }
  .card__text {
    padding-bottom: 52px;
    width: 368px;
    font-weight: normal;
    line-height: 21px;
    font-size: 15px;
    color: #000000;
    opacity: 0.5; }
  .card__colors {
    display: inline-block;
    padding: 0 69px 46px 0;
    vertical-align: middle; }
  .card__price {
    display: inline-block;
    padding-bottom: 46px;
    line-height: 56px;
    font-weight: bold;
    font-size: 40px;
    vertical-align: -webkit-baseline-middle;
    color: #000000; }
  .card__number {
    width: 373px;
    display: flex;
    justify-content: space-between; }
  .card__counter {
    display: inline-block;
    width: 100px;
    height: 44px;
    border: 1.5px solid #000000;
    box-sizing: border-box; }
    .card__counter button {
      border: none;
      background: #fff;
      outline: none;
      cursor: pointer; }
    .card__counter span {
      padding: 0 10px 0 10px; }
  .card__btn {
    width: 253px;
    height: 44px;
    vertical-align: top;
    background: #fff;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    outline: none;
    cursor: pointer; }
  .card__arrow {
    padding-bottom: 125px;
    position: relative; }
    .card__arrow::after {
      content: url("../img/arrow-2.svg");
      position: absolute;
      height: 2px;
      width: 100px;
      right: 143px; }
    .card__arrow_style {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      line-height: normal;
      font-size: 13px;
      text-decoration: none;
      color: #000000; }

.space {
  padding-right: 12px; }
  .space:last-child {
    padding-right: 0; }

.counter_wrap {
  width: 68px;
  padding: 11px 15px; }

.btn_text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase; }

.size {
  width: 582px; }

.shadow {
  background: #e4d4d0;
  box-shadow: 0.4em 0.4em 10px rgba(0, 0, 0, 0.5); }
